{% extends 'base.html.twig' %}

{% block content %}
<div class="container" id="cn-cards">
    <div class="row">

    {% for row in cards %}
    <div class="row" id="cn-cards-row-{{loop.index0}}">
        {% for card in row %}
        <div class="cn-card-container" id="cn-card-{{card.x}}-{{card.y}}">
            {% if card.returned %}
                {% if card.color == 1 %}
                <img src="{{ asset('images/blue0.png') }}" alt="Blue card" class="cn-card revealed">
                {% else %}
                <img src="{{ asset('images/red0.png') }}" alt="Red card" class="cn-card revealed">
                {% endif %}
            {% else %}
            <div class="cn-card-votes"></div>
            <img src="{{ asset('images/card.png') }}" alt="White card" class="cn-card">
            <div class="cn-card-text">{{card.word}}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    </div>

    <div class="row">
        <div class="col">
            <p>Vous êtes : <span id="current-player" data-value="{{currentPlayerName}}">{{currentPlayerName}}</span></p>
            <p>Votre équipe : {{currentPlayerTeam}}</p>
            <p>Votre rôle : {{currentPlayerRole}}</p>
        </div>
        <div class="col">
            <p>Tour : <span id="current-team">{{currentTeam}} </span></p>
            <p>Mot annoncé : <span id="announced-word">{{announcedWord}} </span></p>
            <p>Nombre annoncé : <span id="announced-number">{{announcedNumber}}</span></p>
            <span id="gameId" data-value="{{gameId}}"></span>
            <span id="playerId" data-value="{{playerId}}"></span>
        </div>
        <div class="col">
            <p class="display-block">Votes restants :</p>
            <span id="vote-tag-{{playerId}}" class="badge badge-secondary">{{currentPlayerName}}</span>
        </div>
    </div>

    <div class="row">

    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}