{% extends 'base.html.twig' %}


{% block content %}
<p id="game-uid">Identifiant de jeu à partager : {{gameKey}}</p>
<form id="roles" action="/game" method="post">
        <input type="hidden" name="game-key" id="game-key" value="{{gameKey}}" data-value="{{gameKey}}">
        <input type="hidden" name="player-key" id="player-key" value="{{playerKey}}" data-value="{{playerKey}}">
        <ul>
        {% for player in players %}
            <li class="player">{{player.name}} ({{player.guid}})
                <input class="player-key" type="hidden" name="player-key_{{player.guid}}" id="player-key_{{player.guid}}" value="{{player.guid}}" data-value="{{player.guid}}">
                <label for="team">Equipe</label>
                <select class="team" name="team_{{player.guid}}" id="team_{{player.guid}}">
                    <option value="1">Bleu</option>
                    <option value="2">Rouge</option>
                </select>
                <label for="role_{{player.guid}}">Rôle</label>
                <select class="role" name="role_{{player.guid}}" id="role_{{player.guid}}">
                    <option value="1">Espion</option>
                    <option value="2">Maître espion</option>
                </select>
            </li>
        {% endfor %}
    </ul>
    <button id="ready" type="button">Prêt</button>
    <div>
        <a href="/refreshLobby?gameKey={{gameKey}}">Rafraîchir le lobby</a>
    </div>
</form>

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(() => {

    // WebSocket connection
    const webSockUrl = 'ws://localhost:8080';
    var conn = new WebSocket(webSockUrl);

    // WebSocket events
    conn.onopen = function (e){
        console.log("Connection established!");
    };

    conn.onmessage = function (e) {
        if(e === null || e === undefined) {
            return;
        }

        const result = JSON.parse(e.data);
        const GAME_STARTED = "gameStarted";
        const PLAYER_READY = "playerReady";
        switch (result.action) {
            case GAME_STARTED:
                redirectToGame(result.gameKey);
                break;
            case PLAYER_READY:
                // TODO : 
            case null:
            case undefined:
            default:
                break;
        }
    };

    var redirectToGame = (gameKey) => {
        window.location.replace('/game?gameKey=' + gameKey);
    };

    $('#ready').on('click', () => {
        const gameKey = $('#game-key').data('value');
        const message = {
            action: 'playerReady',
            parameters: {
                gameKey: gameKey,
                players: players
            }
        };
        // Envoyer un message au serveur socket
        conn.send(JSON.stringify(message));
    });
});
        
</script>
{% endblock %}