{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Hub de connexion CN512</h1>
    {% if isInGame %}
        <p>Bonjour, agent {{playerName}}.</p>
        <p>Code de mission en cours : <a href="{{ path('join_game')}}?gameKey={{currentGameKey}} ">{{currentGameKey}}</p>
    {% else %}
        <p>Le système de cyber-sécurité CN512 n'est pas parvenu à vous authentifier.</p>
    {% endif %}
    
    <ul>
        <li>
            <a href="{{ path('create_game') }}">Accepter une nouvelle mission</a>
        </li>
        <li>
            <a href="{{ path('auto_connect') }}?gameKey=ad0abce2-f458-4d02-8cb4-ee3e0df495e6">Renforcer une mission en cours : ad0abce2-f458-4d02-8cb4-ee3e0df495e6</a>
        </li>
    </ul>
    
</div>
{% endblock %}