{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>CodeNames</h1>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    {% if isInGame %}
                        <p>Bonjour,
                            {{playerName}}.</p>
                        <p>Vous avez une partie en cours. Cliquez ici pour la rejoindre :
                            <a href="{{ path('join_game')}}?gameKey={{currentGameKey}}" class="btn btn-primary">Rejoindre</a>
                        </p>
                    {% else %}
                        <a href="{{ path('create_game') }}" class="btn btn-primary">Lancer une nouvelle partie</a>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form id='joinGame' action="joinAutoConnect" method="post">
                        <p>Rejoindre une partie en cours :</p>

                        <label for="game-key">Code de partie</label>
                        <input type="text" name="gameKey">
                        <button type="submit">Valider</button>
                        <p id="gameKeyError" style="color:red;">{{errorMessage}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}