{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Hub de connexion CN512</h1>
    {% if isInGame %}
        <p>Bonjour, agent {{playerName}}.</p>
        <p>Code de mission en cours : <a href="{{ path('join_game')}}?gameKey={{currentGameKey}} ">{{currentGameKey}}</p>
    {% else %}
        <p>Le système de cyber-sécurité CN512 n'est pas parvenu à vous authentifier.</p>
    {% endif %}
    
    <a href="{{ path('create_game') }}">Accepter une nouvelle mission</a>

    <form id='joinGame' action="joinAutoConnect" method="post">
        <p>Renforcer une mission en cours :</p>
        
        <label for="game-key">Clé du jeu</label>
        <input type="text" name="gameKey">
        <button type="submit">Valider</button>
        <p id="gameKeyError" style="color:red;">{{errorMessage}}</p>
    </form>
    
</div>
{% endblock %}